@{
    ViewBag.Title = "Home Page";
}

<div>
    <form>
        <input type="text" placeholder="Search by name" />
        <input type="submit" name="submit" />
    </form>
    <form>
        
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Search by Major
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">English</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Math</a></li>
                <li><a href="#">Science</a></li>
            </ul>
        </div>
    </form>
    
</div>