
@{
    ViewBag.Title = "Car Index";
}

<h2>Car Registration</h2>
<hr />
<form action="/Car/Register" method="get">
    Make:  <input type="text" name="Make" /> </br>
    Model: <input type="text" name="Plate" /> </br>
    Year: <input type="text" name="Year" /> </br>
    <input type="submit" name="Register!" />
    <input type="reset" name="Reset Form" />
</form>
<ul>
<li>Pontiac</li>
<li>ViewBag.Plate</li>
<li>@ViewBag.Year</li>
    </ul>*/

