@using Lab26x.Models;
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<table>

    <tr>
        <th><a>Name</a></th>
        <th><a>Price</a></th>
        <th><a>Quantity</a></th>kll
    </tr>
    @foreach (Item x in ViewBag.Items)
    {
        <tr>
            <td>@x.</td>
            <td>@x.Price</td>
            <td>@x.Quantity</td>
        </tr>
        <td>
            <a href="~/Home/Add?id=@x.ID"
               class="btn btn-primary">Add to Bag</a>
        </td>

    }
</table>
